/* You can add global styles to this file, and also import other style files */
html{
  position: relative;
  min-height: 100%;
}
body{
  background-color:#17202A;
  color: white;
  margin-bottom: 60px;
}
.wrap{

  padding-bottom:30px;
  padding-top: 20px;
}


/* .sombra{
  box-shadow: 0px 0px 10px white;
} */
